<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GoogleSearchSuite">

    <test name="Verify sub-Tagline on LinkedIn">
        <classes>
            <class name="Testcases.GoogleToLinkedIn"></class>
        </classes>
    </test>

   






</suite>
