<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GoogleSearchSuite">

    <parameter name="url" value="https://www.facebook.com"></parameter>


    <test name="Search">
        <classes>
            <class name="Testcases.Google Search"></class>
        </classes>
    </test>

   






</suite>
